<div>
    <div id="divDica1A" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Deve-se somar todos os valores, que resulta em 11,23.</p>

    </div>
    <div id="divDica2A" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Agora você pode dividir o valor obtido da soma, pela quantidade de valores, que no caso são 5.</p>

    </div>
    <div id="divDica3A" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>O dólar obteve um valor médio de R$ 2,25 na semana especificada.</p>
    </div>
</div>