<div>
    <div id="divDica1D" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Deve-se calcular a média por hora M = 60/40 = 1,5.</p>

    </div>
    <div id="divDica2D" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Agora multiplique o valor obtido por 2, já que queremos saber quantas pessoas foram atendidas a cada 2 horas.</p>

    </div>
    <div id="divDica3D" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>3 pessoas.</p>

    </div>
</div>