<div>
    <div id="divDica1C" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Comece o calculo baseando-se quando haviam 8 livros por prateleira, ou seja, multiplique 8 livros por 5 prateleiras para obter o total de livros, 5x8=40.</p>

    </div>
    <div id="divDica2C" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Subtraia os 4 livros do total, agora divida por 4 prateleiras.</p>

    </div>
    <div id="divDica3C" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>9.</p>

    </div>
</div>