
/*comp tela de login*/
.jumb-login {
    font-family: Helvetica, Arial;
    background-color: #69F0AE;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*div login*/
.div-log {
    font-family: Helvetica, Arial;
    font-size: large;
}

.footer-Jumb {
    font-family: Helvetica, Arial;
    background-color: #E0E0E0;
}

 
