body, html {
    height: 100%;
}
/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 8px;
}

.profile-header-img > img.img-circle {
    width: 80px;
    height: 80px;
    border: 2px solid #5BC0DE;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-info.rank-label {
    /*background-color: rgb(81, 210, 183);*/
    background-color: #5BC0DE;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}