<div>
    <div id="divDica1" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@

    </div>
    <div id="divDica2" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@

    </div>
    <div id="divDica3" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@

    </div>
</div>
