
@{
    ViewBag.Title = "ImpAmostragem";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

@Html.Partial("_PartialAmostragem")

<div class="text-center">
    <p>auheuaheasdakjsdnkajsnd</p>
</div>
