
@{
    ViewBag.Title = "ImpAmostragem";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>ImpAmostragem</h2>

<link href="~/Content/Timeline.css" rel="stylesheet" />

<div class="col-lg-2 col-md-2 col-sm-2">

    <!-- Page header -->
    <div class="page-header">
        <h2>Timeline <small>using Bootstrap's <code>.panel</code>.</small></h2>
    </div>
    <!-- /Page header -->
    <!-- Timeline -->
    <div class="timeline">

        <!-- Line component -->
        <div class="line text-muted"></div>

        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.1</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-danger panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-heart"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubTopico/ImpAmostragem">A Importância da Amostragem</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->

        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.2</time>
        </div>
        <!-- /Separator -->
        
        <!-- Panel -->
        <article class="panel panel-danger panel-outline">
            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-heart"></i>
            </div>
            <!-- /Icon -->
            
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubTopico/Conceitos">Conceitos Fundamentais</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->

        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.3</time>
        </div>
        <!-- /Separator -->

        <!-- Panel -->
        <article class="panel panel-primary panel-outline">
            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                Some new content has been added.
            </div>
            <!-- /Body -->

        </article>
        <!-- /Panel -->

        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.4</time>
        </div>
        <!-- /Separator -->

        <!-- Panel -->
        <article class="panel panel-success panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                Anything you can do with <code>.panel</code>, can be done in timeline too!
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->

        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.5</time>
        </div>
        <!-- /Separator -->

        <!-- Panel -->
        <article class="panel panel-info panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-info-sign"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                That is all.
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->

    </div>
    <!-- /Timeline -->

</div>