<link href="~/Content/Timeline.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
    body{
        background-repeat: repeat;
    }
</style>

<div class="col-lg-2 col-md-2 col-sm-2">

    <div class="page-header text-center">
        <strong>Medidas de Tendência Central</strong> <small><code>.SIGMA</code></small>
    </div>

    <div class="timeline">

        <div class="line text-muted"></div>


        <div class="separator text-muted">
            <time>1</time>
        </div>
        <article class="panel panel-default panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-file"></i>
            </div>
            <div class="panel-body">
                <a href="~/subMedidasTendencia/IntroducaoMedidasTendencia">Introdução a Tendência</a>
            </div>
        </article>

        <div class="separator text-muted">
            <time>2</time>
        </div>
        <article class="panel panel-danger panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-record"></i>
            </div>
            <div class="panel-body">
                <strong>Média</strong>
            </div>
        </article>

        <div class="separator text-muted">
            <time>2.1</time>
        </div>
        <article class="panel panel-primary panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-contao"></i>
            </div>
            <div class="panel-body">
                <a href="~/subMedidasTendencia/MediaSimples">Média Aritmética Simples</a>
            </div>
        </article>

        <div class="separator text-muted">
            <time>2.2</time>
        </div>
        <article class="panel panel-success panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-spinner"></i>
            </div>

            <div class="panel-body">
                <a href="~/subMedidasTendencia/MediaPonderada">Média Aritmética Ponderada</a>
            </div>
        </article>

        <div class="separator text-muted">
            <time>3</time>
        </div>
        <article class="panel panel-success panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-youtube-play"></i>
            </div>

            <div class="panel-body">
                <a href="~/subMedidasTendencia/Moda">Moda</a>
            </div>
        </article>

        <div class="separator text-muted">
            <time>4</time>
        </div>
        <article class="panel panel-success panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-bar-chart"></i>
            </div>

            <div class="panel-body">
                <a href="~/subMedidasTendencia/Mediana">Mediana</a>
            </div>
        </article>
    </div>
</div>
