<div>
    <div id="divDica1D" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>Utilize a formulam para localizar primeiramente o espaço: <strong>i = 1 + 3,3 * log N</strong></p>

    </div>
    <div id="divDica2D" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>Utilize a formula para achar a quantidade de classes.</p>

    </div>
    <div id="divDica3D" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>1 classe.</p>
    </div>
</div>