<div>
    <div id="divDica1B" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>Use log de N</p>

    </div>
    <div id="divDica2B" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>1 + 3,3</p>

    </div>
    <div id="divDica3B" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>i = 1 + 3,3 * log N</p>

    </div>
</div>