<div>
    <div id="divDica1A" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>Usado na montagem da tabela.</p>

    </div>
    <div id="divDica2A" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>Os dados nem sempre estão de maneira organizada.</p>

    </div>
    <div id="divDica3A" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>Rol é uma tabela de dados ordenadas em ordem crescente, ou decrescente, ela serva para ser possível analisar e montar uma tabela de distribuição de frequência.</p>

    </div>
</div>