<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="panel-group">
                    <div id="Atv1IntroducaoADistribuicao" class="panel panel-red">
                        <div class="panel-heading" title="Introdução e Conceitos">1 - Introdução e Conceitos</div>
                        <div class="panel-body">Panel Content</div>
                    </div>
                </div>
            </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2IntroducaoADistribuicao" class="panel panel-red">
                    <div class="panel-heading" title="Introdução e Conceitos">1 - Introdução e Conceitos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3IntroducaoADistribuicao" class="panel panel-red">
                    <div class="panel-heading" title="Introdução e Conceitos">1 - Introdução e Conceitos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4IntroducaoADistribuicao" class="panel panel-red">
                    <div class="panel-heading" title="Introdução e Conceitos">1 - Introdução e Conceitos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1PontosOuValores" class="panel panel-red">
                    <div class="panel-heading" title="Distribuições por pontos ou valores">2 - Dist. pontos ou valores</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2PontosOuValores" class="panel panel-red">
                    <div class="panel-heading" title="Distribuições por pontos ou valores">2 - Dist. Pontos ou valores</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3PontosOuValores" class="panel panel-red">
                    <div class="panel-heading" title="Distribuições por pontos ou valores">2 - Dist. Pontos ou valores</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4PontosOuValores" class="panel panel-red">
                    <div class="panel-heading" title="Distribuições por pontos ou valores">2 - Dist. Pontos ou valores</div>
                    <div class="panel-body">Panel Content Panel Content Panel Content Panel Content Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1ClassesOuIntervalos" class="panel panel-red">
                    <div class="panel-heading" title="Distribuições por classes ou intervalos">3 - Classes ou intervalos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2ClassesOuIntervalos" class="panel panel-red">
                    <div class="panel-heading" title="Distribuições por classes ou intervalos">3 - Classes ou intervalos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3ClassesOuIntervalos" class="panel panel-red">
                    <div class="panel-heading" title="Distribuições por classes ou intervalos">3 - Classes ou intervalos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4ClassesOuIntervalos" class="panel panel-red">
                    <div class="panel-heading" title="Distribuições por classes ou intervalos">3 - Classes ou intervalos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1Elementos" class="panel panel-red">
                    <div class="panel-heading" title="Elementos de uma distribuição de frequências">4 - Elementos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2Elementos" class="panel panel-red">
                    <div class="panel-heading" title="Elementos de uma distribuição de frequências">4 - Elementos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3Elementos" class="panel panel-red">
                    <div class="panel-heading" title="Elementos de uma distribuição de frequências">4 - Elementos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4Elementos" class="panel panel-red">
                    <div class="panel-heading" title="Elementos de uma distribuição de frequências">4 - Elementos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1RelativaOuPercentual" class="panel panel-red">
                    <div class="panel-heading" title="A frequência relativa ou percentual">4.1 - Freq. relativa ou percentual</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2RelativaOuPercentual" class="panel panel-red">
                    <div class="panel-heading" title="A frequência relativa ou percentual">4.1 - Freq. relativa ou percentual</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3RelativaOuPercentual" class="panel panel-red">
                    <div class="panel-heading" title="A frequência relativa ou percentual">4.1 - Freq. relativa ou percentual</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4RelativaOuPercentual" class="panel panel-red">
                    <div class="panel-heading" title="A frequência relativa ou percentual">4.1 - Freq. relativa ou percentual</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1AcumuladaSimplesOuAbsoluta" class="panel panel-red">
                    <div class="panel-heading" title="A frequência acumulada simples ou absoluta">4.2 - Acum. simples ou absoluta</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2AcumuladaSimplesOuAbsoluta" class="panel panel-red">
                    <div class="panel-heading" title="A frequência acumulada simples ou absoluta">4.2 - Acum. simples ou absoluta</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3AcumuladaSimplesOuAbsoluta" class="panel panel-red">
                    <div class="panel-heading" title="A frequência acumulada simples ou absoluta">4.2 - Acum. simples ou absoluta</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4AcumuladaSimplesOuAbsoluta" class="panel panel-red">
                    <div class="panel-heading" title="A frequência acumulada simples ou absoluta">4.2 - Acum. simples ou absoluta</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1AcumuladaRelativaOuPercentual" class="panel panel-red">
                    <div class="panel-heading" title="A frequência acumulada relativa ou percentual">4.3 - Acum. relativa ou percentual</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2AcumuladaRelativaOuPercentual" class="panel panel-red">
                    <div class="panel-heading" title="A frequência acumulada relativa ou percentual">4.3 - Acum. relativa ou percentual</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3AcumuladaRelativaOuPercentual" class="panel panel-red">
                    <div class="panel-heading" title="A frequência acumulada relativa ou percentual">4.3 - Acum. relativa ou percentual</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4AcumuladaRelativaOuPercentual" class="panel panel-red">
                    <div class="panel-heading" title="A frequência acumulada relativa ou percentual">4.3 - Acum. relativa ou percentual</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1ApresentacaoDeDistribuicaoFreq" class="panel panel-red">
                    <div class="panel-heading" title="Apresentação de uma distribuição de frequência">5 - Apresentação de distribuição</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2ApresentacaoDeDistribuicaoFreq" class="panel panel-red">
                    <div class="panel-heading" title="Apresentação de uma distribuição de frequência">5 - Apresentação de distribuição</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3ApresentacaoDeDistribuicaoFreq" class="panel panel-red">
                    <div class="panel-heading" title="Apresentação de uma distribuição de frequência">5 - Apresentação de distribuição</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4ApresentacaoDeDistribuicaoFreq" class="panel panel-red">
                    <div class="panel-heading" title="Apresentação de uma distribuição de frequência">5 - Apresentação de distribuição</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1FrequenciaPontosOuValores" class="panel panel-red">
                    <div class="panel-heading" title="Distribuição de frequências por pontos ou valores">5.1 - Freq. por pontos ou valores</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2FrequenciaPontosOuValores" class="panel panel-red">
                    <div class="panel-heading" title="Distribuição de frequências por pontos ou valores">5.1 - Freq. por pontos ou valores</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3FrequenciaPontosOuValores" class="panel panel-red">
                    <div class="panel-heading" title="Distribuição de frequências por pontos ou valores">5.1 - Freq. por pontos ou valores</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4FrequenciaPontosOuValores" class="panel panel-red">
                    <div class="panel-heading" title="Distribuição de frequências por pontos ou valores">5.1 - Freq. por pontos ou valores</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv1FrequenciaClassesOuIntervalos" class="panel panel-red">
                    <div class="panel-heading" title="Distribuição de frequências por classes ou intervalos">5.2 - Freq. por classes ou intervalos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv2FrequenciaClassesOuIntervalos" class="panel panel-red">
                    <div class="panel-heading" title="Distribuição de frequências por classes ou intervalos">5.2 - Freq. por classes ou intervalos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv3FrequenciaClassesOuIntervalos" class="panel panel-red">
                    <div class="panel-heading" title="Distribuição de frequências por classes ou intervalos">5.2 - Freq. por classes ou intervalos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel-group">
                <div id="Atv4FrequenciaClassesOuIntervalos" class="panel panel-red">
                    <div class="panel-heading" title="Distribuição de frequências por classes ou intervalos">5.2 - Freq. por classes ou intervalos</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
        </div>
</div>
