<div>
    <div id="divDica1B" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>O consumo é crescente na linha horizontal da tabela.</p>

    </div>
    <div id="divDica2B" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>O menor consumo foi de 1,7 na sala que possui 2 computadores.</p>
    </div>
    <div id="divDica3B" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>O maior consumo é na sala com 4 computadores.</p>
    </div>
</div>
