<div>
    <div id="divDica1D" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Compare os valores do cálculo com os da tabela e associe os valores com seus respectivos pesos.</p>

    </div>
    <div id="divDica2D" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <img src="~/Content/img/media_ponderada/mp-ex4b.png" />

    </div>
    <div id="divDica3D" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <img src="~/Content/img/media_ponderada/mp-ex4c.png" />

    </div>
</div>