<div>
    <div id="divDica1B" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Para calcular a nota final basta multiplicar a nota pelo peso correspondente.</p>

    </div>
    <div id="divDica2B" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Para calcular a média é preciso somar os pesos e dividir pela soma das notas finais.</p>

    </div>
    <div id="divDica3B" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Avaliação</th>
                                <th>Nota</th>
                                <th>Peso</th>
                                <th>Nota Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Prova escrita</td>
                                <td>6,0</td>
                                <td>4</td>
                                <th>2,4</th>
                            </tr>
                            <tr>
                                <td>Avaliação continuada</td>
                                <td>7,0</td>
                                <td>4</td>
                                <th>2,8</th>
                            </tr>
                            <tr>
                                <td>Seminário</td>
                                <td>8,0</td>
                                <td>2</td>
                                <th>1,6</th>
                            </tr>
                            <tr>
                                <td>Trabalho em grupo</td>
                                <td>9,0</td>
                                <td>2</td>
                                <th>1,8</th>
                            </tr>
                            <tr>
                                <td>Média do bimestre</td>
                                <td></td>
                                <td></td>
                                <th>7,17</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>