<div>
    <div id="divDica1C" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Lempre-se, para calcular a média ponderada, basta dividir a soma dos produtos dos números pelo respectivo peso pela soma dos pesos, M = 63·950 + 5·9500 / 63 + 5</p>

    </div>
    <div id="divDica2C" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>A divisão será assim: M = 107350 / 68.</p>

    </div>
    <div id="divDica3C" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>O resultado é: M = 1578,68</p>

    </div>
</div>