<div>
    <div id="divDica1A" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Para calcular a média ponderada, basta dividir a soma dos produtos dos números pelo respectivo peso pela soma dos pesos, 1·5 + 2·5 + 3·5 + 4·5 + 5·4 + 6·4 + 7·4 + 8·4 + 9·2 / 5 + 5 + 5 + 5 + 4 + 4 + 4 + 4 + 2 + 2</p>

    </div>
    <div id="divDica2A" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Depois de feitas as multiplicações e somas, ficarão assim, 172 / 40</p>

    </div>
    <div id="divDica3A" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>O resultado é 4,3.</p>
    </div>
</div>