<div id="Atv1ClassesIntervalosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1ClassesIntervalos" class="panel panel-red">
            <div class="panel-heading" title="Distribuições por classes ou intervalos">3 - Classes ou intervalos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2ClassesIntervalosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2ClassesIntervalos" class="panel panel-red">
            <div class="panel-heading" title="Distribuições por classes ou intervalos">3 - Classes ou intervalos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3ClassesIntervalosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3ClassesIntervalos" class="panel panel-red">
            <div class="panel-heading" title="Distribuições por classes ou intervalos">3 - Classes ou intervalos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4ClassesIntervalosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4ClassesIntervalos" class="panel panel-red">
            <div class="panel-heading" title="Distribuições por classes ou intervalos">3 - Classes ou intervalos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>