<div id="Atv1ElementosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1Elementos" class="panel panel-red">
            <div class="panel-heading" title="Elementos de uma distribuição de frequências">4 - Elementos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2ElementosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2Elementos" class="panel panel-red">
            <div class="panel-heading" title="Elementos de uma distribuição de frequências">4 - Elementos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3ElementosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3Elementos" class="panel panel-red">
            <div class="panel-heading" title="Elementos de uma distribuição de frequências">4 - Elementos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4ElementosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4Elementos" class="panel panel-red">
            <div class="panel-heading" title="Elementos de uma distribuição de frequências">4 - Elementos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
