<div id="Atv1IntroducaoADistribuicaoPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1IntroducaoADistribuicao" class="panel panel-red">
            <div class="panel-heading" title="Introdução e Conceitos">1 - Introdução e Conceitos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2IntroducaoADistribuicaoPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2IntroducaoADistribuicao" class="panel panel-red">
            <div class="panel-heading" title="Introdução e Conceitos">1 - Introdução e Conceitos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3IntroducaoADistribuicaoPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3IntroducaoADistribuicao" class="panel panel-red">
            <div class="panel-heading" title="Introdução e Conceitos">1 - Introdução e Conceitos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4IntroducaoADistribuicaoPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4IntroducaoADistribuicao" class="panel panel-red">
            <div class="panel-heading" title="Introdução e Conceitos">1 - Introdução e Conceitos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>