<div id="Atv1AcumuladaSimplesOuAbsolutaPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1AcumuladaSimplesOuAbsoluta" class="panel panel-red">
            <div class="panel-heading" title="A frequência acumulada simples ou absoluta">4.2 - Acum. simples ou absoluta</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2AcumuladaSimplesOuAbsolutaPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2AcumuladaSimplesOuAbsoluta" class="panel panel-red">
            <div class="panel-heading" title="A frequência acumulada simples ou absoluta">4.2 - Acum. simples ou absoluta</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3AcumuladaSimplesOuAbsolutaPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3AcumuladaSimplesOuAbsoluta" class="panel panel-red">
            <div class="panel-heading" title="A frequência acumulada simples ou absoluta">4.2 - Acum. simples ou absoluta</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4AcumuladaSimplesOuAbsolutaPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4AcumuladaSimplesOuAbsoluta" class="panel panel-red">
            <div class="panel-heading" title="A frequência acumulada simples ou absoluta">4.2 - Acum. simples ou absoluta</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>