<div id="Atv1FrequenciaClassesOuIntervalosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1FrequenciaClassesOuIntervalos" class="panel panel-red">
            <div class="panel-heading" title="Distribuição de frequências por classes ou intervalos">5.2 - Freq. por classes ou intervalos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2FrequenciaClassesOuIntervalosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2FrequenciaClassesOuIntervalos" class="panel panel-red">
            <div class="panel-heading" title="Distribuição de frequências por classes ou intervalos">5.2 - Freq. por classes ou intervalos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3FrequenciaClassesOuIntervalosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3FrequenciaClassesOuIntervalos" class="panel panel-red">
            <div class="panel-heading" title="Distribuição de frequências por classes ou intervalos">5.2 - Freq. por classes ou intervalos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4FrequenciaClassesOuIntervalosPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4FrequenciaClassesOuIntervalos" class="panel panel-red">
            <div class="panel-heading" title="Distribuição de frequências por classes ou intervalos">5.2 - Freq. por classes ou intervalos</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
