<div id="Atv1RelativaPercentualPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1RelativaPercentual" class="panel panel-red">
            <div class="panel-heading" title="A frequência relativa ou percentual">4.1 - Freq. relativa ou percentual</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2RelativaPercentualPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2RelativaPercentual" class="panel panel-red">
            <div class="panel-heading" title="A frequência relativa ou percentual">4.1 - Freq. relativa ou percentual</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3RelativaPercentualPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3RelativaPercentual" class="panel panel-red">
            <div class="panel-heading" title="A frequência relativa ou percentual">4.1 - Freq. relativa ou percentual</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4RelativaPercentualPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4RelativaPercentual" class="panel panel-red">
            <div class="panel-heading" title="A frequência relativa ou percentual">4.1 - Freq. relativa ou percentual</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>