<div id="Atv1AcumuladaRelativaOuPercentualPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1AcumuladaRelativaOuPercentual" class="panel panel-red">
            <div class="panel-heading" title="A frequência acumulada relativa ou percentual">4.3 - Acum. relativa ou percentual</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2AcumuladaRelativaOuPercentualPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2AcumuladaRelativaOuPercentual" class="panel panel-red">
            <div class="panel-heading" title="A frequência acumulada relativa ou percentual">4.3 - Acum. relativa ou percentual</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3AcumuladaRelativaOuPercentualPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3AcumuladaRelativaOuPercentual" class="panel panel-red">
            <div class="panel-heading" title="A frequência acumulada relativa ou percentual">4.3 - Acum. relativa ou percentual</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4AcumuladaRelativaOuPercentualPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4AcumuladaRelativaOuPercentual" class="panel panel-red">
            <div class="panel-heading" title="A frequência acumulada relativa ou percentual">4.3 - Acum. relativa ou percentual</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
