<div id="Atv1ApresentacaoDeDistribuicaoFreqPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1ApresentacaoDeDistribuicaoFreq" class="panel panel-red">
            <div class="panel-heading" title="Apresentação de uma distribuição de frequência">5 - Apresentação de distribuição</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2ApresentacaoDeDistribuicaoFreqPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2ApresentacaoDeDistribuicaoFreq" class="panel panel-red">
            <div class="panel-heading" title="Apresentação de uma distribuição de frequência">5 - Apresentação de distribuição</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3ApresentacaoDeDistribuicaoFreqPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3ApresentacaoDeDistribuicaoFreq" class="panel panel-red">
            <div class="panel-heading" title="Apresentação de uma distribuição de frequência">5 - Apresentação de distribuição</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4ApresentacaoDeDistribuicaoFreqPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4ApresentacaoDeDistribuicaoFreq" class="panel panel-red">
            <div class="panel-heading" title="Apresentação de uma distribuição de frequência">5 - Apresentação de distribuição</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>