<div id="Atv1FrequenciaPontosOuValoresPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv1FrequenciaPontosOuValores" class="panel panel-red">
            <div class="panel-heading" title="Distribuição de frequências por pontos ou valores">5.1 - Freq. por pontos ou valores</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv2FrequenciaPontosOuValoresPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv2FrequenciaPontosOuValores" class="panel panel-red">
            <div class="panel-heading" title="Distribuição de frequências por pontos ou valores">5.1 - Freq. por pontos ou valores</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv3FrequenciaPontosOuValoresPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv3FrequenciaPontosOuValores" class="panel panel-red">
            <div class="panel-heading" title="Distribuição de frequências por pontos ou valores">5.1 - Freq. por pontos ou valores</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
<div id="Atv4FrequenciaPontosOuValoresPainel" class="col-lg-3 col-md-3 col-sm-3">
    <div class="panel-group">
        <div id="Atv4FrequenciaPontosOuValores" class="panel panel-red">
            <div class="panel-heading" title="Distribuição de frequências por pontos ou valores">5.1 - Freq. por pontos ou valores</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
