<link href="~/Content/Timeline.css" rel="stylesheet" />

<div class="col-lg-2 col-md-2 col-sm-2">

    <!-- Page header -->
    <div class="page-header text-center">
        <strong>Estatística Básica</strong> <small><code>.SIGMA</code></small>
    </div>
    <!-- /Page header -->
    <!-- Timeline -->
    <div class="timeline">

        <!-- Line component -->
        <div class="line text-muted"></div>

        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.1</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-danger panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-heart"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubAmostragem/ImpAmostragem">A Importância da Amostragem</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->
        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.2</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-danger panel-outline">
            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-heart"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubAmostragem/Conceitos">Conceitos Fundamentais</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->
        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.3</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-primary panel-outline">
            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubAmostragem/AleatoriaSimples">Aleatória Simples</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->
        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.4</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-success panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubAmostragem/AleatoriaEstratificada">Aleatória Estratificada</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->
        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.5</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-info panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-info-sign"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubAmostragem/Conglomerado">Conglomerado</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->

        </article>
        <!-- /Panel -->
        <!-- Separator -->
        <div class="separator text-muted">
            <time>1.6</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-info panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-info-sign"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubAmostragem/Sistematica">Sistemática</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->

    </div>
    <!-- /Timeline -->
</div>
