<div>
    <div id="divDica1D" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>O gráfico acima representa a frequência acumulada percentual</p>

    </div>
    <div id="divDica2D" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>Na classe [131;141[ a frequência acumulada percentual é igual a 20%.</p>

    </div>
    <div id="divDica3D" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Classes</th>
                        <th>Frequência Absoluta</th>
                        <th>Frequência Relativa</th>
                        <th>Frequência Acumulada</th>
                        <th>Frequência Acumulada Percentual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[131;141[</td>
                        <td>3</td>
                        <th>20,00%</th>
                        <td>3</td>
                        <th>20,00%</th>
                    </tr>
                    <tr>
                        <td>[141;151[</td>
                        <td>3</td>
                        <th>20,00%</th>
                        <td>6</td>
                        <th>40,00%</th>
                    </tr>
                    <tr>
                        <td>[151;161[</td>
                        <td>2</td>
                        <th>13,33%</th>
                        <td>8</td>
                        <th>53,33%</th>
                    </tr>
                    <tr>
                        <td>[161;171[</td>
                        <td>7</td>
                        <th>46,67%</th>
                        <td>15</td>
                        <th>100,00%</th>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>15</td>
                        <th>100,00%</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
