<div>
    <div id="divDica1C" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>Calcule a frequência absoluta, contando a quantidade de vezes que o número zero aparece na amostra.</p>

    </div>
    <div id="divDica2C" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>Frequência relativa simples e acumulada são expressas em percentagem.</p>

    </div>
    <div id="divDica3C" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Classe</th>
                        <th>Frequência Absoluta</th>
                        <th>Frequência Relativa</th>
                        <th>Frequência Acumulada</th>
                        <th>Frequência Acumulada Percentual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <th>3</th>
                        <th>0,30</th>
                        <th>3,00</th>
                        <th>0,30</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <th>2</th>
                        <th>0,20</th>
                        <th>5,00</th>
                        <th>0,50</th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <th>3</th>
                        <th>0,30</th>
                        <th>8,00</th>
                        <th>0,80</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <th>2</th>
                        <th>0,20</th>
                        <th>10,00</th>
                        <th>1,00</th>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <th>10</th>
                        <th>1,00</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>