<div>
    <div id="divDica1D" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Entenda que, frequência equivale a quantidade de cabos, e comprimento (m), ao comprimento dos cabos em metro.</p>

    </div>
    <div id="divDica2D" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>A alternativa 'A' é incorreta, pois, 700 cabos possuem o comprimento entre 3 e 6 metros.</p>
    </div>
    <div id="divDica3D" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>A quantidade de cabos com comprimento de, pelo menos, 3 m e inferior a 7 m é igual a 1200.</p>

    </div>
</div>