<div>
    <div id="divDica1B" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Considere que, na vertical são as frequências, que equivalem a quantidade de atendimentos realizados, na horizontal são os respectivos atendentes.</p>

    </div>
    <div id="divDica2B" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Descubra quantos atendimentos são realizados por horas por cada atendente, por exemplo, o atendente B, realiza 10 atendimentos por hora.</p>

    </div>
    <div id="divDica3B" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>O resultado é 57.</p>
    </div>
</div>