@model USJT.Sigma.Model.Aluno

@{
    ViewBag.Title = "Topicos";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<head>
    <script src="~/scripts/botoes-topico.js"></script>
    <link href="~/Content/topico.css" rel="stylesheet" />
    <link href="~/Content/corpo-padrao.css" rel="stylesheet" />    
</head>

<div class="container">
    <div class="row">
        <div class="text-center">
            <h2>Tópicos</h2>
            <HR NOSHADE WIDTH=250>
        </div>
        <div border="5px"></div>

        <div class="col-md-6">

            <div class="blockquote-box clearfix">
                <div class="square pull-left">
                    <img src="~/Content/img/topico/distribuicao.png" />
                </div>
                <h4>
                    Distribuição
                </h4>
                <p>
                    Uma distribuição de frequência agrupa os dados por classes de ocorrência.
                </p>

                <div>
                    <span id="ocultaDistribuicao" class="cta-desc glyphicon glyphicon-resize-full" />
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div id="subDistribuicao" class="form-group cta-desc">
                            <p><strong>1 -</strong> Introdução e Conceitos</p>
                            <p><strong>2 -</strong> Distribuições por pontos ou valores</p>
                            <p><strong>3 -</strong> Distribuições por classes ou intervalos</p>
                            <p><strong>4 -</strong> Elementos de uma distribuição de frequências</p>
                            <p><strong>4.1 -</strong> A frequência relativa ou percentual</p>
                            <p><strong>4.2 -</strong> A frequência acumulada simples ou absoluta</p>
                            <p><strong>4.3 -</strong> A frequência acumulada relativa ou percentual</p>
                            <p><strong>5 -</strong> Apresentação de uma distribuição de frequência</p>
                            <p><strong>5.1 -</strong> Distribuição de frequências por pontos ou valores</p>
                            <p><strong>5.2 -</strong> Distribuição de frequências por classes ou intervalos</p>
                        </div>
                    </div>
                    <div>
                        <a href="~/SubDistribuicao/IntroducaoDistribuicao" class="btn btn-sm btn-primary">Conteúdo</a>
                    </div>
                </div>
            </div>

            <div class="blockquote-box blockquote-primary clearfix">
                <div class="square pull-left">
                    <img src="https://media.licdn.com/media/p/1/000/093/334/05c8cf2.png" alt="" class="" />
                </div>
                <h4>
                    Medidas de Tendência Central
                </h4>
                <p>
                    As medidas de tendência mais comuns são a média aritmética, a mediana e moda.
                </p>

                <div>
                    <span id="ocultaMedidasTendencia" class="cta-desc glyphicon glyphicon-resize-full" />
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div id="subMedidasTendencia" class="form-group cta-desc">
                            <p><strong>1 -</strong> Introdução</p>
                            <p><strong>2 -</strong> Média</p>
                            <p><strong>2.1 -</strong> Média Aritmética Simples</p>
                            <p><strong>2.2 -</strong> Média Aritmética Ponderada</p>
                            <p><strong>3 -</strong> Moda</p>
                            <p><strong>4 -</strong> Mediana</p>
                        </div>
                    </div>
                    <div>
                        <a href="~/SubMedidasTendencia/IntroducaoMedidasTendencia" class="btn btn-sm btn-primary">Conteúdo</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
                    <img src="~/Content/img/topico/hexagono.png" />
                </div>
                <h4>
                    Medidas de Dispersão
                </h4>
                <p>
                    Para medir a dispersão, duas medidas são mais usadas: a amplitude e o desvio padrão.
                </p>
                <div>
                    <span id="ocultaMedidasDispersao" class="cta-desc glyphicon glyphicon-resize-full" />
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div id="subMedidasDispersao" class="form-group cta-desc">
                            <p><strong>3.1 -</strong> Dispersão</p>
                            <p><strong>3.2 -</strong> Assimetria</p>
                            <p><strong>3.3 -</strong> Curtose</p>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn btn-sm btn-primary">Conteúdo</a>
                    </div>
                </div>
            </div>


            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <img src="~/Content/img/topico/hexagono.png" />
                </div>
                <h4>
                    Amostragem e Estimadores
                </h4>
                <p>
                    Processo ou técnica de escolha de amostra(s) adequada(s) para análise de um todo.
                </p>
                <div>
                    <span id="ocultaAmostragem" class="cta-desc glyphicon glyphicon-resize-full" />
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div id="subAmostragem" class="form-group cta-desc">
                            <p><strong>4.1 -</strong> Importância da amostragem</p>
                            <p><strong>4.2 -</strong> Conceitos fundamentais</p>
                            <p><strong>4.3 -</strong> Aleatória simples</p>
                            <p><strong>4.4 -</strong> Aleatória estratificada</p>
                            <p><strong>4.5 -</strong> Conglomerado</p>
                            <p><strong>4.6 -</strong> Sistemática</p>
                        </div>
                    </div>
                    <div>
                        <a href="~/SubAmostragem/ImpAmostragem" class="btn btn-sm btn-primary">Conteúdo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</div>