@model USJT.Sigma.Model.Aluno

@{
    ViewBag.Title = "Topicos";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>Topicos</h2>

@* label, metodo e controle*@

@*@using (Html.BeginForm("ImpAmostragem", "SubAmostragem"))
{
    <input type="submit" value="AMOSTRAGEM" />
}*@

<form action="~/SubAmostragem/ImpAmostragem" method="get">

    <input type="submit" value="AMOSTRAGEM" />

</form>

    @*@Html.ActionLink("Amostragem", "ImpAmostragem", new RouteValueDictionary(new { action = "ImpAmostragem", controller = "SubAmostragem" }), usuarioLogado)*@

    @*<a href="ImpAmostragem/@Model">
            Amostragem
        </a>*@
