<link href="~/Content/Timeline.css" rel="stylesheet" />
<link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />

<div class="col-lg-2 col-md-2 col-sm-2">

    <div class="page-header text-center">
        <strong>Estatística - Distribuição</strong> <small><code>.SIGMA</code></small>
    </div>

    <div class="timeline">
        <div class="line text-muted"></div> 

        <div class="separator text-muted">
            <time>1</time>
        </div>
        <!-- /Separator -->

        <!-- Panel -->
        <article class="panel panel-default panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-file"></i>
            </div>
            <div class="panel-body">
                <a href="~/SubDistribuicao/IntroducaoDistribuicao">Introdução e Conceitos de Distribuição</a>
            </div>
        </article>
        <!-- /Panel -->

        <!-- Separator -->
        <div class="separator text-muted">
            <time>2</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-success panel-outline">
            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-record"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubDistribuicao/PontosOuValores">Distribuições por pontos ou valores</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->
        <!-- Separator -->
        <div class="separator text-muted">
            <time>3</time>
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-success panel-outline">
            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="fa fa-contao"></i>
            </div>
            <!-- /Icon -->
            <!-- Body -->
            <div class="panel-body">
                <a href="~/SubDistribuicao/ClassesOuIntervalos">Distribuições por classes ou intervalos</a>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->

        <div class="separator text-muted">
            <time>4</time>
        </div>
        <article class="panel panel-default panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-spinner"></i>
            </div>

            <div class="panel-body">
                <p><strong>Elementos de uma distribuição de frequências</strong></p>
            </div>
        </article>

        <div class="separator text-muted">
            <time>4.1</time>
        </div>
        <article class="panel panel-success panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-youtube-play"></i>
            </div>

            <div class="panel-body">
                <a href="~/SubDistribuicao/FrequenciaRelativaPercentual">A frequência relativa ou percentual</a>
            </div>
        </article>

        <div class="separator text-muted">
            <time>4.2</time>
        </div>
        <article class="panel panel-success panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-bar-chart"></i>
            </div>

            <div class="panel-body">
                <a href="~/SubDistribuicao/FrequenciaAcumuladaSimplesAbsoluta">A frequência acumulada simples ou absoluta</a>
            </div>
        </article>

        <div class="separator text-muted">
            <time>4.3</time>
        </div>
        <article class="panel panel-success panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-signal"></i>
            </div>

            <div class="panel-body">
                <a href="~/SubDistribuicao/FrequenciaAcumuladaRelativaPercentual">A frequência acumulada relativa ou percentual</a>
            </div>
        </article>

        <div class="separator text-muted">
            <time>5</time>
        </div>
        <article class="panel panel-default panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-clipboard"></i>
            </div>

            <div class="panel-body">
                <p><strong>Apresentação de uma distribuição de frequências</strong></p>
            </div>
        </article>

        <div class="separator text-muted">
            <time>5.1</time>
        </div>
        <article class="panel panel-success panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-record"></i>
            </div>

            <div class="panel-body">
                <a href="~/SubDistribuicao/ApresentacaoPontosOuValores">Distribuição de frequências por pontos ou valores</a>
            </div>
        </article>

        <div class="separator text-muted">
            <time>5.2</time>
        </div>
        <article class="panel panel-success panel-outline">
            <div class="panel-heading icon">
                <i class="fa fa-pie-chart"></i>
            </div>

            <div class="panel-body">
                <a href="~/SubDistribuicao/ApresentacaoClassesOuIntervalos">Distribuição de frequências por classes ou intervalos</a>
            </div>
        </article>

    </div>
    <!-- /Timeline -->
</div>
