
@{
    ViewBag.Title = "Frequência Acumulada Relativa Percentual";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>FrequenciaAcumuladaRelativaPercentual</h2>

@Html.Partial("_PartialDistribuicao")