
@{
    ViewBag.Title = "Frequência Acumulada Simples Absoluta";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>Frequência Acumulada Simples Absoluta</h2>

@Html.Partial("_PartialDistribuicao")