
@{
    ViewBag.Title = "Graficos";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>Gráficos</h2>

@Html.Partial("_PartialDistribuicao")

@using (Html.BeginForm())
{
    <div class="form-group text-center">
        <p>Graficos</p>
        <p>Graficos</p>
        <p>Graficos</p>
        <p>Graficos</p>
    </div>

    <div>
        @Html.RadioButton("Resposta", true)True
        <br />
        @Html.RadioButton("Resposta", false)False
        <br />
        @Html.RadioButton("Resposta", false)False 2
    </div>

    <div>
        <input type="submit" name="salvarSubTopico" value="Salvar" class="btn btn-default">
    </div>
}