@model USJT.Sigma.Model.Aluno

@{
    ViewBag.Title = "Introdução a Distribuição";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}
<link href="~/Content/corpo-padrao.css" rel="stylesheet" />

<h2>Introdução a Distribuição</h2>

@Html.Partial("_PartialDistribuicao")

@using (Html.BeginForm())
{
    <div class="form-group text-center">
        <p>Introdução</p>
        <p>Introdução</p>
        <p>Introdução</p>
        <p>Introdução</p>        
        @*<embed type="image/svg+xml" src="~/Content/img/graficos/teste.svg" />*@
    </div>

    <div>
        @Html.RadioButton("Resposta", true)True
        <br />
        @Html.RadioButton("Resposta", false)False
        <br />
        @Html.RadioButton("Resposta", false)False 2
    </div>

    <div>
        <input type="submit" name="salvarSubTopico" value="Salvar" class="btn btn-default">
    </div>
}