<div>
    <div id="divDica1A" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Some os valores repetidos da tabela.</p>

    </div>
    <div id="divDica2A" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Por exemplo, 6 funcionários possuem 0 filhos.</p>

    </div>
    <div id="divDica3A" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Quantidade de Filhos</th>
                            <th>Quantidade de Funcionários</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <th>6</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <th>7</th>
                        </tr>
                        <tr>
                            <td>2</td>
                            <th>5</th>
                        </tr>
                        <tr>
                            <td>3</td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <td>4</td>
                            <th>2</th>
                        </tr>
                        <tr>
                            <td>5</td>
                            <th>1</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>