<div>
    <div id="divDica1B" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>11 funcionárias calçam 38,0 ou 39,0.</p>

    </div>
    <div id="divDica2B" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Some as frequências.</p>

    </div>
    <div id="divDica3B" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>O diretor pesquisou 25 funcionárias.</p>

    </div>
</div>