<div>
    <div id="divDica1D" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@        
        <p>Como se trata da mediana, organizaremos esses números em ordem crescente: 3, 5, 5, 7, 8, 9</p>

    </div>
    <div id="divDica2D" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@        
        <p>Mas o enunciado do exercício informou que na lista constam nove números, portanto, restam ainda três valores que não conhecemos. Todavia, como a mediana deve ser a maior possível, devemos considerar que esses números desconhecidos são x, y e z e que eles são maiores que nove. Agora basta acrescentar esses números à sequência: 3, 5, 5, 7, 8, 9, x, y, z</p>
    </div>
    <div id="divDica3D" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>        
        <p>8.</p>

    </div>
</div>
