<div>
    <div id="divDica1A" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Observe que nesse conjunto de dados temos 9 elementos, 9 salários. Primeiro deve-se montar o rol: Rol = {1100, 1200, 1210, 1250, 1300, 1450, 1500, 1600, 1980}.</p>

    </div>
    <div id="divDica2A" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Quando o número de elementos do conjunto de dados for ímpar, a mediana é o valor que divide o conjunto ao meio.</p>

    </div>
    <div id="divDica3A" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>1300.</p>
    </div>
</div>