<div>
    <div id="divDica1C" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Observe que o conjunto já está organizado e há dois valores centrais e ambos são “15”, deve-se calcular a média aritmética deles.</p>

    </div>
    <div id="divDica2C" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>O cálculo fica da seguinte forma: <strong>M.A: 15 + 15 / 2</strong> </p>

    </div>
    <div id="divDica3C" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <p>15.</p>

    </div>
</div>