<div>
    <div id="divDica1B" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>A frequência relativa da faixa salarial entre 600 a 690 é o resultado da divisão de 6 pela soma da frequência absoluta de referente a todas as faixas salariais.</p>

    </div>
    <div id="divDica2B" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>A frequência relativa da faixa salarial de 600 a 690 é igual a 10%.</p>

    </div>
    <div id="divDica3B" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>R$</th>
                        <th>Frequência Absoluta</th>
                        <th>Frequência Relativa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>600 a 900</td>
                        <td>6</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>690 a 780</td>
                        <td>15</td>
                        <td>25%</td>
                    </tr>
                    <tr>
                        <td>780 a 870</td>
                        <td>30</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td>870 a 960</td>
                        <td>6</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>960 a 1050</td>
                        <td>3</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>60</td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>