<div>
    <div id="divDica1A" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>Futebol: 70, significa que 70 pessoas tem como opção o esporte futebol.</p>

    </div>
    <div id="divDica2A" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>A frequência relativa da modalidade esportiva futebol é calculada através da divisão entre 70 (frequência absoluta) e 200 (soma das frequências)</p>

    </div>
    <div id="divDica3A" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Modalidade Esportiva</th>
                        <th>Frequência Absoluta</th>
                        <th>Modalidade Relativa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Futebol</td>
                        <td>70</td>
                        <td>35%</td>
                    </tr>
                    <tr>
                        <td>Volei</td>
                        <td>50</td>
                        <td>25%</td>
                    </tr>
                    <tr>
                        <td>Basquete</td>
                        <td>40</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>Natação</td>
                        <td>20</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>Tênis</td>
                        <td>15</td>
                        <td>8%</td>
                    </tr>
                    <tr>
                        <td>Ciclismo</td>
                        <td>5</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>200</td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
