<div>
    <div id="divDica1C" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>Para construir a distribuição de frequência, conte quantas vezes o elemento aparece na amostra.</p>

    </div>
    <div id="divDica2C" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>A frequência absoluta do elemento 3 é igual a 1, pois aparece apenas uma vez na amostra.</p>

    </div>
    <div id="divDica3C" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Elemento</th>
                        <th>Frequência Absoluta</th>
                        <th>Frequência Relativa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3</td>
                        <td>1</td>
                        <td>5,26%</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>3</td>
                        <td>15,79%</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>5</td>
                        <td>26,32%</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>6</td>
                        <td>31,58%</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>4</td>
                        <td>21,05%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>19</td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>