<div>
    <div id="divDica1C" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>

        @* DICA 1 *@
        <p>Primeiro passo organize os dados em ordem crescente em uma tabela.</p>

    </div>
    <div id="divDica2C" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>

        @* DICA 2 *@
        <p>Realize a soma da última frequência acumulada que você calculou mais a frequência absoluta da linha atual para obter a frequência acumulada.</p>

    </div>
    <div id="divDica3C" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Valores</th>
                            <th>Frequência (F)</th>
                            <th>Frequência Acumulada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2</td>
                            <th>2</th>
                            <th>2</th>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>4</th>
                            <th>6</th>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>1</th>
                            <th>7</th>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>1</th>
                            <th>8</th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <th>2</th>
                            <th>10</th>
                        </tr>
                        <tr>
                            <td>9</td>
                            <th>2</th>
                            <th>12</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>