<div>
    <div id="divDica1A" hidden="hidden">
        <hr />
        <p><strong>Dica 1</strong></p>
        
        @* DICA 1 *@
        <p>Substitua o ponto de interrogação pela soma da frequência absoluta atual e o último valor da frequência acumulada que você calculou.</p>

    </div>
    <div id="divDica2A" hidden="hidden">
        <hr />
        <p><strong>Dica 2</strong></p>
        
        @* DICA 2 *@
        <p>O segundo valor da frequência acumulada é igual a 3, pois soma-se 1+2.</p>

    </div>
    <div id="divDica3A" hidden="hidden">
        <hr />
        <p><strong>Dica 3</strong></p>

        @* DICA 3 *@
        <p><strong>Resposta</strong></p>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nº de Livros</th>
                            <th>Frequência (F)</th>
                            <th>Frequência Acumulada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>2</td>
                            <th>2</th>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>1</td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>3</td>
                            <th>6</th>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>1</td>
                            <th>7</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
